<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<nav class="menu">
				<ul class="active">
					<li class="current-item"><a href="#">Home</a></li>
					<li><a href="upload">Upload Inventory Data</a></li>
					<li><a href="#">Add/Modify Faculty Data</a></li>
					<li><a href="#">View Inventory Data</a></li>
					<li><a href="#"></a></li>
				</ul>

				<a class="toggle-nav" href="#">&#9776;</a>

			</nav>
		</div>
	</div>
</body>
</html>