<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="uploadHistory">
<h3>Previous Uploads</h3>
	<table>
		<tr>
			<th> ID</th>
			<th> Date Uploaded</th>
			<th> Name of File</th>
			<th> Location of File</th>
		</tr>
		<p th:each="log : ${logs}">
		<tr>
			<td><div th:text="${log.uploadID}"></div></td>
			<td><div th:text="${log.uploadDate}"></div></td>
			<td><div th:text="${log.uploadName}"></div></td>
			<!-- td><div th:text="${log.uploadLocation}"></div></td-->
			<td><a th:href="${log.uploadLocation}" th:text="${log.uploadLocation}" target="_new"></a></td>
		</tr>
		</p>	
	</table>
</body>
</html>